<% provide(:title, "About") %>
<h1>About This Site</h1>
<p>
  I chose to use stimming as the topic for my CSC-324 project <s>because I
  didn't have any better ideas</s> for several reasons. On a technical
  level, the content I wanted to include was well-suited to the design of
  Michael Hartl's sample app, allowing me to follow his tutorial almost
  entirely down to the letter. On a more personal level, I was only recently
  formally diagnosed with my own disabilities in May 2019, and as a member
  of the neurodivergent community, I feel it is important to help make our
  voices heard. I believe the popular stigma behind stimming is not being
  addressed in our  society, and if I'm going to be showing this project to
  potential employers, I want to use the opportunity to educate and make a
  positive statement to others about my identity.
</p>
<p>
  In addition, my creation of this website is a showcase of my skill
  development with Ruby on Rails. Though most of this website is created
  using the Hartl tutorial, I still learned how to tweak and add to the
  code (some on my own, some with the help of my professor and class tutor)
  in ways which changed the design and content of the website to suit my own
  needs and vision. If I didn't know how to encode a feature I wanted, I
  learned how to research for helpful sources and to test out
  implementations through trial and error. I asked for help when I needed
  it, and learned to prioritize some tasks over others when deciding on
  the most important things to create or fix. All in all, building this
  website was a valuable experience which will aid me if I pursue web
  development after graduating.
</p>
