<% provide(:title, "About") %>
<h1>About This Site</h1>
<p>
  I chose to use stimming as the topic for my CSC-324 project <s>because I
  didn't have any better ideas</s> for several reasons. On a technical
  level, the content I wanted to include was well-suited to the design of
  Michael Hartl's sample app, allowing me to follow his tutorial almost
  entirely down to the letter. On a more personal level, I was only recently
  formally diagnosed with my own disabilities in May 2019, and as a member
  of the neurodivergent community, I feel it is important to help make our
  voices heard. I believe the popular stigma behind stimming is not being
  addressed in our  society, and if I'm going to be showing this project to
  potential employers, I want to use the opportunity to educate and make a
  positive statement to others about my identity.
</p>
