<% provide(:title, "Sources") %>
<h1>Sources</h1>
<p>
  This website uses text and/or information
  from <a href="https://en.wikipedia.org/wiki/Stimming">Wikipedia</a>,
  <a href="https://www.medicalnewstoday.com/articles/319714.php">Medical
    News Today</a>, and the author's own prior knowledge.
</p>
