<% provide(:title, "What is Stimming?") %>
<h1>What is Stimming?</h1>
<p>
  Self-stimulation, also known as stimming, is the repetition of physical
  movements, sounds, words, or moving objects. These behaviours are common
  among the neurodivergent community in people with developmental
  disabilities, such as autism, ADHD, or sensory processing
  disorder. Stimming is considered a protective response to
  over-stimulation, in which people calm themselves by blocking less
  predictable environmental stimuli, to which they have a heightened
  sensitivity. Stimming is also a way to relieve anxiety and other negative
  or heightened emotions.
</p>
<p>
  The main five categories for types of stims include the following:
</p>
<h2>
  Auditory
</h2>
<p>
  Auditory stimming uses the person's sense of hearing and sound. Some
  examples include vocal sounds, clapping or snapping, and repetitive speech.
</p>
<h2>
  Olfactory
</h2>
<p>
  Olfactory and taste stimming use a person's sense of smell and
  taste. Some examples include sniffing, licking, and tasting.
</p>
<h2>
  Tactile
</h2>
<p>
  Tactile stimming uses the person's sense of touch. Some examples include
  hand movements, finger-tapping, and skin rubbing or scratching.
</p>
<h2>
  Visual
</h2>
<p>
  Visual stimming uses a person's sense of sight. Some examples include
  staring or gazing, repetitive blinking, eye tracking or peering, and
  object placement.
</p>
<h2>
  Vestibular
</h2>
<p>
  This is arguably the best-known category. Vestibular stimming uses a
  person's sense of movement and balance. Some examples include
  hand-flapping, rocking, pacing, jumping, and spinning.
</p>
