<% provide(:title, "Sources") %>
<h1>Sources</h1>
<p>
  This website uses text and/or information
  from
   <ul>
     <li><a href="https://en.wikipedia.org/wiki/Stimming">Wikipedia</a></li>
     <li><a href="https://www.medicalnewstoday.com/articles/319714.php">Medical
     News Today</a></li>
     <li><a href="http://ican-do.net/images/thestimlist.pdf"> The Stim
     List</a></li>
   </ul>
   and the author's own prior knowledge.
</p>

<p>
  Resources used for the format of this website include:
   <ul>
     <li><a href="http://www.colors.commutercreative.com/">147 Colors | CSS
     Color Names</a></li>
     <li><a href="https://www.learnenough.com/ruby-on-rails-4th-edition-tutorial/beginning">Ruby
     on Rails Tutorial (Rails 5) by Michael Hartl</a></li>
     <li><a href="https://stackoverflow.com/">Stack Overflow</a></li>
   </ul>
</p>
