<footer class="footer">
  <small>
    Created by Lilya Woodburn '20 for CSC-324 "Software Design and
    Development" in the Fall 2019 semester
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Sources", sources_path %></li>
    </ul>
  </nav>
</footer>
